.estilo{
    background: rgba(210, 106, 241, 0.68);
    width: 10px 21px!important;
    border-radius: 9px!important;
    margin: 0% 1% 0% 1%;
    text-align: center;
}

.estilo:hover{
    width: 10px 21px!important;
    border-radius: 9px!important;
    margin: 0% 1% 0% 1%;
    background: rgb(205, 117, 231);
    border: none;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
}

.estilo:hover {
    box-shadow: 7px 5px 25px 1px #000000;
}

.estilo:active {
    transform: scale(0.97);
    box-shadow: 7px 5px 25px -10px #000000;
}
