.foto{
    width: 300px!important;
    margin: auto;
}

.logos_svg{
    width: 40px;
}

.logos_svg2{
    width: 45px;
}

.logo_ink{
    width: 100px;
}

.foto_art{
    width: 300px;
}

.tam_img{
    width: 210px;
    height: 235px;
    margin: auto;
    padding: auto;
}

.img_qs{
    width: 450px;
}