$coloresBG:(
	colorPrimario:rgba(28, 253, 178, 0.719)!important,
	colorSecundario:rgba(210, 106, 241, 0.68),
	titulo:rgb(205, 117, 231),
	sombra:rgb(0, 0, 0),
	sincolor:rgba(255, 255, 255, 0)!important,

);

@each $tinte, $color in $coloresBG{
	.#{$tinte}{
		background-color: $color;
	}
}



$dimencion:(
    centro:center,
    borde: 5px,
    margen: 1% 0% 1% 0%,
    margen2: 0.5%,
    margen3: 1%,
);

main.index{
    align-items: map-get($dimencion , centro);
        div.dimencion-main{
            margin: map-get($dimencion , margen);
            padding: map-get($dimencion , margen3);
            border-radius: map-get($dimencion, borde);
                div.div-div-1-main{
                    align-items: map-get($dimencion , centro);
                }
        }
}



.boton{
    @extend .estilo;
}



@mixin div-oferta($BGcolor, $bor, $mar, $pad, $cen) {
    background-color: $BGcolor;
    border-radius: $bor;
    margin: $mar;
    padding: $pad;
    align-items: $cen;
}

div.div-mix{
    @include div-oferta(rgba(28, 253, 178, 0.719), 5px , 1% 0% 1% 0% , 1%, center)
}