@media only screen and (min-width:320px) and (max-width: 479px){
    .no_sticky{
        position: relative;
    }

    .pos-col{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .caja2{
        order: 3;
    }

    .color_boton{
        background-color:$SinColor;
    }

    .campos{
        width: 100%;
    }

    .form-tam{
        width: 100%;
    }
}



@media only screen and (min-width:480px) and (max-width: 599px){

.no_sticky{
    position: relative;
}
    
.posicion{
    display: flex!important;
    flex-direction: row!important;
}

.pos-fo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
    
.media{
    width: 95%;
    margin: auto;
}
    
.estilo{
    width: 10px 21px!important;
    border-radius: 9px!important;
    margin: 0% 1% 0% 1%;
    background: $Titulo;
    border: none;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
}
    
.img_qs{
    width: 280px;
}
    
.campos2{
    width: 100%;
}

.campos{
    width: 100%;
}

.form-tam{
    width: 80%;
}
    
}


@media only screen and (min-width: 600px) and (max-width: 768px){
    
.no_sticky{
    position: relative;
}
    
.media{
    width: 80%;
    margin: auto;
}
    
.img_qs{
    width: 280px;
}
.campos{
    width: 100%;
}

.form-tam{
    width: 80%;
}
    
}


@media only screen and (min-width: 992px){
    
.img_qs{
    width: 400px;
}
    
.campos2{
    width: 100%;
}

.media{
    width: 40%;
    margin: auto;
}
    
.campos{
    width: 100%;
}

.form-tam{
    width: 80%;
}
    
}